@import "./variables.scss";

.admin {
    box-sizing: border-box;
    display: flex;
    background-color: $text_color;

    .nav {
        background-color: $admin_nav_color;
        width: 300px;
        height: 100vh;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_header {
            padding: $main_padding_small;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > h1 {
                padding: 30px 0;
                font-size: 70px;
                font-weight: 700;
                line-height: 70px;
                text-align: center;
            }

            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                > li {
                    padding: 15px 20px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 20px;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    color: $text_color;
                    background-color: $dark_color;
                    border-radius: 10px;
                    cursor: pointer;

                    .icon {
                        color: $text_color;
                    }

                    .rotate {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &_footer {
            .admin_profile {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: $main_padding_small;

                .profile_icon {
                    background-color: $admin_icon_color;
                    padding: 15px;
                    color: $dark_color;
                    font-size: 30px;
                    line-height: 45px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .profile_name {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 700;
                }
            }

            .signout_btn {
                background-color: $dark_color;
                color: $main_color;
                border: none;
                outline: none;
                width: 100%;
                padding: 20px;
                border-bottom-right-radius: 20px;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
            }
        }
    }

    &_content {
        flex: 1;
    }

    .admin_vouchers {
        padding: 50px;

        &_header {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .header_title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                > h2 {
                    color: $dark_color;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 40px;
                }

                .header_btns {
                    display: flex;
                    gap: 10px;

                    .create_btn {
                        @include admin_create_btn();
                    }

                    .delete_btn {
                        @include admin_delete_btn();
                    }
                }
            }

            .admin_statistics_content {
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;

                .admin_statistics {
                    flex: 1;
                    padding: $main_padding_small;
                    background-color: $admin_stat_background_color;
                    border: 1px solid $admin_border_color;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: relative;

                    > p {
                        color: $dark_color;
                    }
                    .stat_name {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: $main_line_height;
                        font-style: normal;
                    }
                    .stat_count {
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                    .stat_percentage {
                        color: $text_color;
                        width: fit-content;
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        border-radius: 20px;
                        padding: 5px 10px;
                    }
                    .stat_percent_positive {
                        background-color: $admin_green;
                    }
                    .stat_percent_negitive {
                        background-color: $admin_red;
                    }
                }
            }

            .searchbar {
                color: $dark_color;
                width: 100%;
                display: flex;
                gap: 10px;
                align-items: center;
                border-bottom: 1px solid $admin_border_color;
                padding-bottom: 10px;
                margin-top: 20px;

                > input[type="search"] {
                    border: none;
                    outline: none;
                    font-size: 16px;
                    line-height: 16px;
                    font-style: normal;
                    font-weight: 400;
                    width: 100%;
                }
            }

            .admin_sub_menu {
                > ul {
                    list-style: none;
                    display: flex;

                    > li {
                        color: $admin_border_color;
                        padding: 10px 20px;
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 16px;
                        cursor: pointer;
                        border-bottom: 1px solid $admin_border_color;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }

                    & .public {
                        color: $admin_green;
                        border-bottom: 1px solid $admin_green;
                    }
                    & .private {
                        color: $main_color;
                        border-bottom: 1px solid $main_color;
                    }
                    & .expired {
                        color: $admin_red;
                        border-bottom: 1px solid $admin_red;
                    }
                }
            }
        }

        .public_vouchers_tab {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > h3 {
                color: $admin_green;
                font-weight: 700;
                font-size: 24px;
                font-style: normal;
                line-height: 29px;
                margin-bottom: 10px;
                padding-top: 50px;
            }

            .public_voucher_tabitem {
                border: 1px solid $admin_border_color;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: $main_padding_small;
                cursor: pointer;

                .item_header {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .date {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 30px;
                        color: $dark_color;
                    }

                    .colapse_minus {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        position: relative;

                        .line {
                            position: absolute;
                            height: 3px;
                            width: 20px;
                            background-color: $dark_color;
                            border-radius: 5px;
                        }

                        .open_tab {
                            animation: open_tab 1s 0s 1 forwards;
                        }

                        .close_tab {
                            animation: close_tab 1s 0s 1 forwards;
                        }
                    }
                }

                .vouchers_collection {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-top: 20px;
                    width: calc(100% - $main_padding_small);
                }
            }
        }
    }
}

.public_voucher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: $admin_voucher_color;
    border-radius: 10px;

    .voucher_info {
        display: flex;
        gap: 30px;

        .checkbox {
            width: 20px;
            height: 20px;
            border: 1px solid $admin_border_color;
            border-radius: 5px;
        }

        .voucher_tag {
            color: $text_color;
            background-color: $admin_green;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 14px;
            border-radius: 10px;
        }

        .voucher_store_image {
            width: 70px;
            height: auto;

            > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        & .product_name {
            color: $dark_color;
            font-size: 16px;
            font-weight: 400;
            line-height: $main_line_height;
        }

        & .voucher_discount {
            background-color: $main_color;
            color: $dark_color;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            border-radius: 10px;
        }

        & .voucher_downloads {
            background-color: $dark_color;
            color: $text_color;
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            padding: 5px 10px;
        }
    }

    .voucher_category {
        display: flex;
        align-items: center;
        gap: 30px;

        .voucher_lock {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: $admin_green;
            border: 1px solid $admin_green;
            border-radius: 100%;
        }

        .voucher_deadline {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: $admin_red;
            color: $text_color;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            border-radius: 10px;
        }
    }
}

@keyframes close_tab {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes open_tab {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
