@import "./variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: $dark_color;

    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &_first {
        display: flex;
    }

    &_header {
        flex: 3;
        display: flex;
        flex-direction: column;
    }

    &_title {
        font-weight: 800;
        text-transform: uppercase;
        color: $text_color !important;
    }

    .contact_footer {
        > p {
            text-decoration: underline;
        }
    }

    .trusted_by {
        display: flex;
        flex-direction: column;

        .trusted_companies {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .sitemap {
        > p {
            text-transform: capitalize;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: white;
        margin-block: 10px;
    }

    .privacy {
        display: flex;

        align-items: center;
        gap: 20px;

        > p:last-child {
            text-decoration: underline;
        }
    }
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_content {
        display: flex;
        gap: 10px;
    }

    &_item {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: white;
        color: $dark_color;
        border-radius: 100%;
        font-size: 20px;
    }
}
