@import "./variables.scss";

.home {
    .deal_advantages {
        display: flex;
        flex-direction: column;
        background-color: #f4f5f3;

        &_header {
            color: $dark_color;
            line-height: 45px;
            font-size: 1.9rem;
            font-weight: 700;
            margin-bottom: 50px;
        }

        &_container {
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
        }

        &_image {
            flex: 1;
            object-fit: contain;
            border-radius: 10px;
        }

        &_content {
            flex: 1;
            display: flex;
            gap: 20px;

            .advantage_item {
                &_header {
                    display: flex;
                    align-items: center;

                    &_number {
                        color: $text_color;
                        background-color: $dark_color;
                        padding: 15px;
                        border-radius: 50%;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    &_title {
                        color: $dark_color;
                        font-weight: 700;
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }

                &_description {
                    color: $description_color;
                    font-weight: 400;
                    font-size: 16px;
                    padding-left: 65px;
                    line-height: $main_line_height;
                }
            }
        }
    }

    .statistics {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 60px;
        padding: 75px $main_padding_small;
        background-color: $text_color;

        &_item {
            text-align: center;

            &_title {
                color: $description_color;
                font-size: 14px;
                font-weight: 800;
            }

            &_number {
                color: $dark_color;
                font-size: 100px;
                font-weight: 800;
                line-height: 100px;
            }
        }
    }

    .collaboration {
        background-color: $voucher_backgroundColor;
        display: flex;

        &_image_container{
            flex: 1;

            > img {
                object-fit: contain;
            }
        }

        &_content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            background-color: $text_color;
            color: $dark_color;

            .tag {
                color: inherit;
                font-weight: 700;
            }

            .title {
                color: inherit;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            }

            .description {
                font-size: 16px;
                font-weight: 400;
                color: $description_color;
                line-height: $main_line_height;
            }

            .contact_btn {
                @include main_btn_style($main_color, none, $dark_color);
            }
        }
    }
}
