// main fonts
$main_font: "Poppins", sans-serif;

// main colors
$main_color: #ffba08;
$second_color: #d3d3d3;
$dark_color: #1d1d1d;
$text_color: #ffffff;
$voucher_backgroundColor: #f5f3f4;
$description_color: #5f5f5f;
$tag_color: #023e8a;

// main size settings
$main_padding_small: 20px;
$main_padding_large: 100px;
$main_line_height: 24px;

// reused style settings
@mixin main_btn_style($background_color: transparent, $border: none, $color: $text_color) {
  width: fit-content;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
  border: $border;
  outline: none;
  background-color: $background_color;
  color: $color;
  font-family: $main_font;
}

@mixin main_input_style {
  color: $dark_color;
  background-color: $text_color;
  border-radius: 10px;
  padding: 8px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: $main_line_height;
  width: calc(100% - 40px); // 40px is the padding

  &:focus {
    border: 1px solid $main_color;
  }
}
