@import "variables.scss";

body {
    width: 100%;
    background-color: $dark_color;
}

header {

    a {
        text-decoration: none;
        color: #ffffff;
    }

    .nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        background-color: transparent;
        padding-left: 100px;
        font-family: $main_font;

        h1 {
            text-transform: uppercase;
            color: #ffffff;
            font-size: 1.5rem;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: 600;
            margin-inline: 20px;
            gap: 54px;
            padding-block: 5px;
        }

        .login_content {
            display: flex;
            gap: 20px;

            .register {
                @include btn_login_register_common();
                background-color: $main_color;
            }

            .login {
                @include btn_login_register_common();
                background-color: $second_color;
            }
        }

        .active {
            border-bottom: 2px solid $main_color;
        }
    }
}
