@import "./variables.scss";

.contact {
  background-color: $text_color;

  & .header {
    .header_title_mobile,
    .header_title_desktop {
      color: $dark_color;
    }

    .line {
      background-color: $dark_color !important;
    }
  }

  .nav_content_menu > li {
    color: $dark_color;
  }

  // page indicator 
  & #contact {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5%;
      right: 0;
      width: 0%;
      height: 2px;
      background-color: $main_color;
      animation: page_indicator 2s ease-out forwards;
    }
  }

  &_header {
    color: $dark_color;

    & h2 {
      color: inherit;
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 10px;

      & span {
        color: inherit;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -5%;
          right: 0;
          width: 100%;
          height: 2px;
          background-color: $main_color;
        }
      }
    }

    & p {
      color: $description_color;
      font-size: 16px;
      font-weight: 400;
      line-height: $main_line_height;
    }
  }

  &_information_form_content {
    display: flex;

    .contact_information {
      background-color: $main_color;
      display: flex;

      &_content {
        color: $dark_color;
        display: flex;
        flex-direction: column;
        gap: 30px;

        & h3 {
          color: inherit;
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
        }

        & p {
          color: inherit;
          font-size: 16px;
          font-weight: 400;
          line-height: $main_line_height;
        }

        & div {
          color: inherit;
        }

        .contact_information_contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .contact_phone,
          .contact_email {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }

        & .socials {
          & .socials_item {
            color: $main_color;
            background-color: $dark_color;
          }
        }
      }
    }

    .contact_form {
      background-color: $voucher_backgroundColor;
      display: grid;
      
      gap: 20px;

      & h3 {
        color: $dark_color;
      }

      .contect_form_name,
      .contact_form_email,
      .contact_form_phone,
      .contact_form_subject,
      .contact_form_message {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & label {
          color: $dark_color;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
        }

        & input[type="text"],
        & input[type="email"],
        & textarea {
          @include main_input_style();
          width: calc(100% - 50px);
        }

        & textarea {
          resize: vertical;
          min-height: 200px;
        }
      }

      > h3 {grid-area: title;}
      .contect_form_name{grid-area: name;}
      .contact_form_email{grid-area: email;}
      .contact_form_phone{grid-area: phone;}
      .contact_form_subject{grid-area: subject;}
      .contact_form_message{grid-area: message;}
      .btn_container {
        grid-area: submit;

        display: flex;
        justify-content: flex-end;

        & .submit {
          @include main_btn_style($main_color, none, $dark_color);
          line-height: 20px;
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }

  &_office {
    display: flex;

    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      gap: 20px;

      & h3 {
        color: $dark_color;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
      }

      & p {
        color: $description_color;
        font-size: 16px;
        font-weight: 400;
        line-height: $main_line_height;
      }

      &_address {
        & h4 {
          color: $dark_color;
          font-size: 16px;
          font-weight: 700;
          line-height: $main_line_height;
        }
      }
    }

    &_map {

      & iframe {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
