@import "./variables.scss";

/*
  Style of Input.tsx component
*/
.global_input_style {
  @include main_input_style();
  width: calc(100% - 40px);
}
.transparent_border {
  border: 1px solid transparent;
}
.input_error {
  border: 1px solid $admin_red !important;
}

