@import "./variables.scss";

// screen breakpoints
$small: 300px;
$medium: 768px;
$large: 1024px;
$extra_large: 1280px;
$wide: 1440px;
$ultra_wide: 1920px;

@media screen and (min-width: $small) {
  .header {
    &_title_mobile {
      position: absolute;
      text-transform: uppercase;
      color: $text_color;
      font-weight: 700;
      cursor: pointer;
      top: 20px;
      left: $main_padding_small;
      font-size: 20px;
    }

    .nav_menu_mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 20px;
      right: 30px;
      width: 20px;
      height: 20px;
      z-index: 9991;
      cursor: pointer;

      .line {
        width: 100%;
        height: 3px;
        background-color: $text_color;
        transition: all 2s;

        &_sided {
          margin-right: 10px;
          transform: translateX(-30%);
        }
      }
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: white;
      z-index: 999;
      position: fixed;
      top: 0;
      right: 0;
      width: 70%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      .header_title_desktop {
        display: none;
      }

      &_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        z-index: inherit;

        &_menu {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          gap: 54px;
          margin-inline: 20px;
          padding-block: 5px;
          cursor: pointer;

          li {
            font-weight: 600;
            color: $dark_color;
            text-transform: capitalize;
          }
        }

        .login_content_mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          .nav_register {
            @include main_btn_style($main_color, none, $dark_color);
          }

          .nav_login {
            @include main_btn_style($second_color, none, $dark_color);
          }
        }
      }

      .login_content_desktop {
        display: none;
      }

      .account_btn{ 
        @include main_btn_style($main_color, none, $dark_color);
        display: flex;
        gap: 10px;
        align-items: center;
        width: max-content;
      }
      
      .logout_btn{
        @include main_btn_style($text_color, 1px solid $dark_color, $dark_color);
        display: flex;
        gap: 10px;
        align-items: center;
        flex: 1;
        width: max-content;
      }
    }
  }

  .cookies {
    background-color: rgba($color: $dark_color, $alpha: 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &_text {
      width: 70%;
    }

    &_buttons {
      width: 70%;
    }
  }

  .home {
    .banner {
      flex-direction: column;

      &_content {
        padding: $main_padding_small;
      }

      &_quote {
        font-size: 28px;
      }

      &_description {
        font-weight: 100;
        font-size: 16px;
        line-height: $main_line_height;
      }

      &_image_container {
        height: 100%;
        padding: 20px;

        .banner_image {
          margin: auto;
          width: 100%;
          height: fit-content;
        }

        .mobile_image {
          height: fit-content;
          border-radius: 10px;
        }

        .desktop_image {
          display: none;
        }
      }
    }

    .top_deals {
      padding: 50px $main_padding_small;

      & .mobile {
        display: flex;
        margin: auto;
        margin-top: 50px;
      }

      & .desktop {
        display: none;
      }

      .products {
        flex-direction: column;
        justify-content: space-between;
      }

      .login_popup_mobile {
        display: flex;
      }

      .login_popup_desktop {
        display: none;
      }

      .login_popup_content {
        width: 80%;
        border-radius: 20px;
      }
    }

    .deal_advantages {
      padding: $main_padding_small;
      padding-top: 50px;
      padding-bottom: 60px;

      &_container {
        flex-direction: column;
      }

      &_image {
        width: 100%;
        height: auto;
      }

      &_content {
        flex-direction: column;
      }
    }

    .statistics {
      flex-direction: column;
    }

    .articles {
      padding: 50px $main_padding_small;
      & .mobile {
        display: flex;
      }
      & .desktop {
        display: none;
      }
      &_header {
        &_view_btn {
          margin: auto;
          margin-top: 50px;
        }
      }
    }
  }

  .product {
    flex: 1 1 10%;
  }

  .collaboration {
    flex-direction: column;
    padding: 50px $main_padding_small;

    &_image_mobile {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }

    &_image_desktop {
      display: none;
    }

    &_content {
      padding: 30px 20px;
      border-radius: 0 0 10px 10px;
    }
  }

  .voucher_page {
    .voucher_details {
      flex-direction: column;
      gap: 10px;
      padding: 50px $main_padding_small;
      padding-top: 90px;

      .voucher_content {
        .product_image_mobile {
          display: flex;
          justify-content: center;

          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .unsaved_btn {
          @include main_btn_style($main_color, none, $dark_color);
          width: 100%;
          margin-top: 30px;

          & .save_icon {
            font-size: 16px;
            margin-left: 10px;
            color: $dark_color;
          }
        }

        .saved_btn {
          @include main_btn_style(#f0fff0, 1px solid #70e000, $dark_color);
          width: 100%;
          margin-top: 30px;

          & .save_icon {
            font-size: 16px;
            margin-left: 10px;
            color: $dark_color;
          }
        }
      }

      & .product_image_desktop {
        display: none;
      }
    }

    .voucher_countdown {
      flex-direction: column;
      gap: 30px;
    }

    .related_vouchers {
      padding: 50px $main_padding_small;

      &_header {
        & .desktop {
          display: none;
        }
      }

      &_items {
        flex-direction: column;
        gap: 20px;
      }

      .back_to_voucher_btn {
        margin: auto;
      }
    }
  }

  .vouchers {
    &_banner {
      padding: 50px $main_padding_small;

      &_searchbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & input {
          @include main_input_style();
          padding: 10px;
          font-size: 14px;
        }
      }
    }

    &_lastchance,
    &_secondToLast,
    &_thirdToLast {
      padding: 50px $main_padding_small;

      & .vouchers_content {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .articles {
    > h2 {
      padding: 50px $main_padding_small;
    }

    .recent_articles,
    .collaborations,
    .media {
      padding: 50px $main_padding_small;
      &_content {
        flex-direction: column;
      }
    }
  }

  .article_details {
    .article_details_content {
      padding: 50px $main_padding_small;
    }

    .related_articles {
      padding: 50px $main_padding_small;

      &_content {
        flex-direction: column;
      }
    }
  }

  .contact {
    &_header {
      padding: 50px $main_padding_small;

      & h2 {
        text-align: center;
      }
    }

    &_information_form_content {
      flex-direction: column;

      .contact_information,
      .contact_form {
        padding: 50px $main_padding_small;
        grid-auto-columns: 1fr;
        grid-template-areas:
          "title"
          "name"
          "email"
          "phone"
          "subject"
          "message"
          "submit";
      }

      .contact_information {
        justify-content: center;
        align-items: center;
      }
    }

    &_office {
      padding: 50px $main_padding_small;
      flex-direction: column;
      gap: 30px;

      &_map {
        height: 250px;
      }
    }
  }

  .account {
    &_banner {
      padding: 50px $main_padding_small;
    }

    &_options {
      padding: 50px $main_padding_small 20px;
      justify-content: space-between;
    }

    &_content {
      padding: 50px $main_padding_small;

      .valid_vouchers_content,
      .expired_vouchers_content {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .newletter {
    &_content {
      padding: $main_padding_small;
    }
  }

  .login_register_image {
    background: url("./../../public/resources/images/login-image-mobile.png")
      no-repeat top center;
  }

  .login_register_shadow {
    background: linear-gradient(
      180deg,
      #1d1d1d 32.81%,
      rgba(29, 29, 29, 0.65) 100%
    );
    transform: rotate(-180deg);
  }

  .login,
  .register {
    align-items: center;

    .back_btn {
      bottom: 50px;
    }
  }

  .footer {
    padding: 30px;

    &_first {
      gap: 20px;
      flex-direction: column;

      .sitemap {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .privacy {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .trusted_companies {
        align-items: center;
        gap: 30px;
      }
    }
  }
}

@media screen and (min-width: $medium) {
  .header {
    .nav {
      width: 50%;
    }
  }

  .cookies {
    &_text {
      width: 50%;
    }

    &_buttons {
      width: 50%;
    }
  }

  .home {
    .banner {
      &_image_container {
        max-height: 50%;
        text-align: center;

        .banner_image {
          width: fit-content;

          height: 100%;
        }
      }

      .scroller {
        visibility: hidden;
      }
    }

    .top_deals {
      & .mobile {
        display: none;
        margin: unset;
        margin-top: unset;
      }

      & .desktop {
        display: flex;
      }

      .products {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .deal_advantages {
      &_content {
        flex-direction: row;

        .advantage_item {
          flex: 1;
          flex-wrap: wrap;
        }
      }
    }

    .statistics {
      &_item:first-child {
        transform: translateX(-100px);
      }

      &_item:last-child {
        transform: translateX(100px);
      }
    }

    .articles {
      & .mobile {
        display: none;
      }
      & .desktop {
        display: flex;
      }
      &_header {
        &_view_btn {
          margin: unset;
          margin-top: unset;
        }
      }

      .article_item {
        .read_time {
          display: none;
        }
      }
    }
  }

  .product {
    flex: 0 0 40%;
  }

  .voucher_page {
    .voucher_details {
      flex-direction: row;
      padding: 100px $main_padding_small;

      & .voucher_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;

        & .product_image_mobile {
          display: none;
        }

        .unsaved_btn {
          @include main_btn_style($main_color, none, $dark_color);
          width: fit-content;
          margin: unset;
          margin-top: 30px;
        }

        .saved_btn {
          @include main_btn_style(#f0fff0, 1px solid #70e000, $dark_color);
          width: fit-content;
          margin: unset;
          margin-top: 30px;
        }
      }

      & .product_image_desktop {
        flex: 1;
        display: block;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .voucher_countdown {
      flex-direction: row;
      gap: 60px;
    }

    .related_vouchers {
      padding: 50px $main_padding_small;

      & .mobile {
        display: none;
      }

      &_header {
        justify-content: space-between;

        & .desktop {
          display: block;
          margin: unset;
        }
      }

      &_items {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }

  .vouchers {
    &_banner {
      &_searchbar {
        flex-direction: row;
        width: 50%;

        & input {
          @include main_input_style();
        }
      }
    }

    &_lastchance,
    &_secondToLast,
    &_thirdToLast {
      padding: 50px $main_padding_small;

      & .vouchers_content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        & .product {
          flex: 0 0 40%;
        }
      }
    }
  }

  .articles {
    .recent_articles,
    .collaborations,
    .media {
      & .article_item {
        flex: 0 0 40%;
      }

      &_content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: flex-start;
      }
    }
  }

  .article_details {
    .article_details_content {
      padding: 50px $main_padding_small;
      .article_banner {
        width: 70%;
        margin: auto;
      }

      .article_text_content {
        width: 60%;
        margin: auto;
      }
    }

    .related_articles {
      padding: 50px $main_padding_small;

      &_content {
        & .article_item {
          flex: 0 0 40%;
        }

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
  }

  .contact {
    &_header {
      padding: 50px $main_padding_small;
      width: 50%;

      & h2 {
        text-align: left;
      }
    }

    &_information_form_content {
      .contact_information {
        padding-right: 50%;
      }
    }

    &_office {
      flex-direction: row;
      gap: 30px;
      &_content {
        flex: 1;
      }

      &_map {
        flex: 1;
      }
    }
  }

  .account {
    &_options {
      justify-content: flex-start;
      gap: 20px;
    }

    &_content {
      .valid_vouchers_content,
      .expired_vouchers_content {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (min-width: $large) {
  .cookies {
    background-color: $dark_color;
    position: fixed;
    top: unset;
    bottom: 25px;
    right: 25px;
    width: 200px;
    height: 250px;
    padding: 30px;
    gap: 0px;
    justify-content: space-between;

    &_text {
      width: 100%;
    }

    &_buttons {
      width: 100%;
    }
  }

  .home {
    .header {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    .banner {
      flex-direction: row;
      align-items: center;

      &_content {
        padding: $main_padding_small;
        justify-content: center;
      }

      .scroller {
        visibility: visible;
      }
    }

    .top_deals {
      padding: $main_padding_large ;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;

      .login_popup_mobile {
        display: none;
      }

      .login_popup_content {
        width: 40%;
        border-radius: 20px;
        background-color: $dark_color;
      }

      &:hover .login_popup_desktop {
        display: flex;
        border-radius: 0;
        background-color: rgba($color: #e5e5e5, $alpha: 0.65);
      }
    }

    .deal_advantages {
      padding: 0;
      padding: $main_padding_large;

      &_container {
        flex-direction: row;
      }

      &_image {
        width: 50%;
        box-shadow: 20px 20px rgba($color: $main_color, $alpha: 0.35);
      }

      &_content {
        flex-direction: column;

        .advantage_item {
          flex: 1;
          flex-wrap: wrap;
        }
        .advantage_item:nth-child(even) {
          transform: translateX(65px);
        }
      }
    }

    .statistics {
      flex-direction: row;

      &_item:first-child {
        transform: unset;
      }

      &_item:last-child {
        transform: unset;
      }
    }

    .articles {
      padding: $main_padding_large;
      & .mobile {
        display: none;
      }

      & .desktop {
        display: flex;
      }

      .article_item {
        .read_time {
          display: none;
        }
      }
    }
  }

  .collaboration {
    flex-direction: row;
    padding: $main_padding_large;

    &_image_container {
      max-width: 50%;
    }

    &_image_mobile {
      display: none;
    }

    &_image_desktop {
      display: block;
      height: auto;
      width: auto;
      border-radius: 10px 0 0 10px;
    }

    &_content {
      padding: 50px;
      border-radius: 0 10px 10px 0;
    }
  }

  .voucher_page {
    .voucher_details {
      flex-direction: row;
      padding: $main_padding_large;

      & .voucher_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;

        & .product_image_mobile {
          display: none;
        }

        .save_voucher_btn {
          width: fit-content;
          margin: unset;
        }
      }

      & .product_image_desktop {
        flex: 1;
        display: block;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .voucher_countdown {
      flex-direction: row;
      gap: 60px;
    }

    .related_vouchers {
      padding: $main_padding_large;

      & .mobile {
        display: none;
      }

      &_header {
        justify-content: space-between;

        & .desktop {
          display: block;
          margin: unset;
        }
      }

      &_items {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }

  .vouchers {
    &_banner {
      padding: $main_padding_large;
      margin: unset;
    }

    &_lastchance,
    &_secondToLast,
    &_thirdToLast {
      padding: 50px $main_padding_large;
    }

    &_lastchance {
      padding-top: 100px;
    }
  }

  .articles {
    & h2 {
      padding: 0;
    }

    .recent_articles,
    .collaborations,
    .media {
      padding: $main_padding_large;
    }
  }

  .article_details {
    & h2 {
      width: 40%;
      margin: auto;
    }

    .article_details_content {
      position: relative;
      padding: $main_padding_large;

      .article_banner {
        width: 60%;
        margin: auto;
      }

      .article_text_content {
        width: 50%;
        margin: auto;
      }

      .back_btn {
        position: absolute;
        top: $main_padding_large;
        left: $main_padding_large;
      }
    }

    .related_articles {
      padding: $main_padding_large;

      & h2 {
        width: 100%;
        margin: unset;
      }
    }
  }

  .contact {
    &_header {
      padding: $main_padding_large;
      width: 50%;
    }

    &_information_form_content {
      flex-direction: row;
      .contact_information,
      .contact_form {
        padding: $main_padding_large 50px $main_padding_large
          $main_padding_large;
      }

      .contact_information {
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .contact_form {
        flex: 2;
      }
    }

    &_office {
      padding: $main_padding_large;

      &_content {
        flex: 1;
      }
      &_map {
        flex: 1;
        height: 350px;
      }
    }
  }

  .account {
    &_banner {
      padding: $main_padding_large;
    }

    &_options {
      padding: 50px $main_padding_large 30px;
    }

    &_content {
      padding: $main_padding_large;
    }
  }

  .newletter {
    &_content {
      width: 50%;
    }
  }

  .settings {
    width: 50%;
  }

  .login_register_image {
    background: url("./../../public/resources/images/login-image-desktop.png")
      no-repeat right top;
  }

  .login_register_shadow {
    background: linear-gradient(
      -90deg,
      #1d1d1d 25%,
      rgba(29, 29, 29, 0.65) 100%
    );
  }

  .login,
  .register {
    padding-left: $main_padding_large;
    align-items: flex-start;

    & h2 {
      visibility: hidden;
    }

    & h2::before {
      visibility: visible;
      content: "Voucherland";
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 700;
      font-family: $main_font;
    }

    .option {
      margin: 10px;
    }

    .back_btn {
      top: 50px;
      left: $main_padding_large;
      bottom: unset;
    }
  }

  .footer {
    padding: 50px;

    &_first {
      gap: 50px;
      flex-direction: row;
      justify-content: space-between;

      .footer_header {
        flex: 2;

        > p {
          width: 70%;
        }
      }

      .footer_title {
        font-size: 25px;
      }

      .trusted_by {
        .trusted_companies {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          > img {
            width: 100px;
            height: auto;
          }
        }
      }

      .sitemap {
        display: none;
      }
    }

    .privacy {
      flex-direction: row;
      justify-content: space-between;
      flex-flow: row-reverse;
      gap: 20px;
      padding: 30px 0 0 0;
    }
  }
}

@media screen and (min-width: $extra_large) {
  .header {
    padding-inline: $main_padding_large;
    display: flex;

    & h1 {
      font-size: 1.2rem;
    }

    &_title_mobile,
    .nav_menu_mobile {
      display: none;
    }

    .nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      height: 100%;
      background-color: transparent;
      z-index: 999;
      position: relative;
      transform: none;
      border-radius: 0;
      // color: $text_color;

      .header_title_desktop {
        display: flex;
        text-transform: uppercase;
        // color: $text_color;
        font-weight: 700;
        cursor: pointer;
        font-size: 20px;
      }

      &_content {
        gap: 40px;
        flex-direction: row;
        justify-content: center;
        padding-right: unset;

        &_menu {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-weight: 600;
          margin-inline: 20px;
          gap: 35px;
          padding-block: 5px;

          li {
            // color: $text_color;
            font-weight: 700;
          }
        }

        .login_content_mobile {
          display: none;
        }
      }

      .login_content_desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .nav_register {
          @include main_btn_style($main_color, none, $dark_color);
        }

        .nav_login {
          @include main_btn_style($second_color, none, $dark_color);
        }
      }
    }
  }
  .home {
    .header {
      position: absolute;
      top: 0;
    }

    .banner {
      flex-direction: row;

      &_content {
        flex: 1;
        padding: 0;
        padding-left: $main_padding_large;
        justify-content: center;
      }

      &_quote {
        font-size: 4rem;
      }

      &_description {
        width: 60%;
        padding: 0;
      }

      &_image_container {
        padding: 0;
        height: 100%;
        max-height: unset;

        .banner_image {
          text-align: unset;
          height: 100%;
          margin: unset;
        }

        .mobile_image {
          display: none;
        }

        .desktop_image {
          display: block;
        }
      }

      .scroller {
        visibility: visible;
      }
    }

    .articles {
      .article_item {
        .read_time {
          display: block;
        }
      }
    }
  }

  .vouchers {
    &_lastchance,
    &_secondToLast,
    &_thirdToLast {
      & .vouchers_content {
        & .product {
          flex: 0 0 25%;
        }
      }
    }
  }

  .articles {
    > h2 {
      padding: $main_padding_large;
    }

    .recent_articles,
    .collaborations,
    .media {
      & .article_item {
        flex: 0 0 20%;
      }
    }
  }

  .article_details {
    .related_articles {
      & .article_item {
        flex: 0 0 20%;
      }
    }
  }

  .product {
    flex: 0 0 25%;
  }

  .contact {
    .contact_form {
      grid-auto-columns: 1fr;
      grid-template-areas:
        "title title"
        "name email"
        "phone subject"
        "message message"
        "submit submit";
    }
  }

  .footer {
    &_first {
      gap: 70px;
    }

    .footer_header {
      > p {
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: $wide) {
  .header {
    .nav {
      gap: 80px;
      &_content {
        gap: 50px;

        &_menu {
          gap: 50px;
        }
      }
    }
  }

  .voucher_page {
    .voucher_details {
      width: 70%;
      margin: auto;
      padding-top: 150px;
    }
  }

  .contact {
    &_office {
      padding: $main_padding_large 150px;
      gap: 50px;

      &_content {
        flex: 1;
      }
      &_map {
        flex: 2;
        height: 450px;
      }
    }
  }

  .newletter {
    &_content {
      width: 30%;
    }
  }

  .settings {
    width: 30%;
  }

  .footer {
    &_first {
      gap: 80px;
    }
  }
}

@media screen and (min-width: $ultra_wide) {
  .header {
    .nav {
      gap: 100px;

      &_content {
        gap: 80px;

        &_menu {
          gap: 80px;
        }
      }
    }
  }

  .footer {
    padding: 50px $main_padding_large;

    &_first {
      gap: 100px;
    }

    .footer_header {
      > p {
        width: 50%;
      }
    }
  }
}
